/* Add margin to the weather info */
.weather-info {
    text-align: center;
    margin-top: 20px;
}

.weather-info h2 {
    font-size: 2em;
    margin: 10px 0;
}

.weather-info p {
    font-size: 1.2em;
    margin: 5px 0;
}

#weather-icon {
    font-size: 4em;
    margin: 10px 0;
}

.sun-info {
    margin-top: 20px;
}

.sun-info p {
    font-size: 1.2em;
    margin: 10px 0;
}

.sun-info i {
    margin-right: 10px;
}

.daily-report, .five-day-forecast {
    text-align: center;
    margin-top: 20px;
}

.daily-report h4, .five-day-forecast h4 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.daily-report ul, .five-day-forecast ul {
    padding: 0;
}

.daily-report li, .five-day-forecast li {
    list-style: none;
    font-size: 1.2em;
    margin: 10px 0;
}

.daily-report i, .five-day-forecast i {
    margin-right: 10px;
}
